* { 
  margin: 2px; 
  padding: 2px; 
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
  font-family: Arial, Helvetica, sans-serif; 
}
 
html,
body {
  height: 100%; 
  width: 100%; 
}

body {
  background-color: hsl(0, 0%, 14%); 
  
}
.parent{
  display: inline-block;
  gap: 20px;
  margin-left:50px;
  flex-wrap: wrap;
  
}
.card{
  background-color: rgb(255, 255, 255);
  width: 300px;
  height: 350px;
  border: solid black 2px ;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  
}
.top{
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  gap: 89px;
    
}
.top img{
  width: 50px; 
  height: 50px; 
  border: 1px solid black;
  border-radius: 50%; 
  display: block;
}
.top button{
  height: 25px;
  width: 80px;
  transform:scale(0.8);
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 2  5px;
  opacity: 0.4;
  border-radius: 5px;
  border: solid black 1px;
}
.middle {
  display: flex;
  flex-direction: column;
  /* margin:20px; */
  margin-top: 0px;
  gap: 1px;


}
.middle h5{
  font-size: large;
  flex-wrap: wrap;
}
.middle span{
  opacity: 0.5;
  white-space: nowrap;
  font-size: x-small;
}
.middle h2{
  font-size: 22px;
}
.middle  h4{
  border: 1px solid gray;
  width: 75px;
  background-color: rgb(206, 206, 206);
  opacity: 0.6;
  font-size: 10px;
  display: inline-block; 
  text-align: center;
  padding: 4px 6px;
  border-radius: 5px;
  justify-content: center;
  margin: 5px;
  margin-left:2px ;
}

.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid gray;
  padding: 10px 0px;
  margin: 0px 20px;
  margin-top: 40px;
} 
.bottom button{
  background-color: black;
  color: white;
  padding:5px 15px;
  border:1px solid black;
  border-radius:5px;
  opacity: 0.9;
}
.bottom p{
  font-size: xx-small
}

