* { 
  margin: 2px; 
  padding: 2px; 
  box-sizing: border-box; /* Includes padding and border in the element's total width and height */
  font-family: Arial, Helvetica, sans-serif; 
}

html,
body {
  height: 100%; 
  width: 100%; 
}

body {
  background-color: hsl(0, 0%, 14%); 
}
