body{
  background-color: aquamarine;
  height: 100%;
  width: 100%;
}
*{
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
  font-size: 55px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#child{
  color: black;
}
.card{
  background-color: red;
  margin: 20px;
  border-radius: 10px;
  padding: 20px;
  
}
.card p {
  font-size: smaller;
}
.Nav{
  background-color: aqua;
  margin: 10px;
  padding: 20px;
  
}
.Nav h1{
  font-size: smaller;
  font-family: 'Times New Roman', Times, serif ;

}