*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: mono bold;
}
html,body{
  height: 100%;
  width: 100%;
}
button{
  margin: 15px;
  padding: 10px 15px;
  font-size: 18px;
  cursor: pointer;
  
}