body{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 15px;
    
}
label,input{
    padding: 15px;
    margin: 5px;
    background-color: lightgray;
    border: 2px solid gray;
    border-radius: 15px;
}
button{
    padding: 15px 150px;
    margin: 5px;
    background-color: lightgray;
    border: 2px solid gray;
    border-radius: 15px;
    /* transform: translateX(70px); */
}