@import "tailwindcss";
*{
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
  font-family: mono bold;
}
html,body{
  height: 100%;
  width: 100%;
}
h1{
  border: 2px solid black;
  object-fit: cover;
  margin-top: 20px;
  font-size: 50px;
  text-align: center;
  color: #000000;
  width: 200px;
  background: #97a197b1;
}
button{
  background-color: #97a197b1; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display:flex;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer; 
  flex-direction: column-reverse;
}
